*.log
.DS_Store
.cursor.json

/index.php
/wp-*.php
/wp-config.php
/wp-config.*
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/dbs/
wp-content/languages/
wp-content/upgrade/
wp-content/ewww/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/themes/twenty*
wp-content/plugins/*
!wp-content/plugins/mdc2020.php
wp-admin/
wp-includes/
misc


/google*.html
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/xmlrpc.php
