/* the real stuff */

.separate-containers .inside-article {
    border-radius: 7px;
}


@media all and (max-width: 768px) {
	.inside-header {padding: 20px 0;}
	.site-branding-container {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	    text-align: left;
	}
	.site-header .header-image {
		min-width: 320px;
    	width: 100%;
	}
	.site-branding { display: none; }

}

@media all and (max-width: 1280px) {
}